body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(images/background.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  width: 0px;
  border-right: 1px solid #fff;
}

::-webkit-scrollbar-track-piece{
  background-color: transparent;
  -webkit-border-radius: 6px;
}
/*
::-webkit-scrollbar {
  width: 3px;
  background: #000;
  border-right: 1px solid rgba(255,255,255,0.5);
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: #fff;
} */
