@import url('https://fonts.googleapis.com/css?family=Montserrat:700,500,400');

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1F1F1F;
}

::-webkit-scrollbar{
  width: 0px;
  border-right: 1px solid #fff;
}

::-webkit-scrollbar-track-piece{
  background-color: transparent;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
